<nav class="navbar navbar-inverse navbar-fixed-top _navbar">
  <div class="container-fullwidth">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed GlobalNavButton" 
          data-toggle="collapse" 
          data-target="#navbar" 
          aria-expanded="false" 
          aria-controls="navbar">
            <i class="ms-Icon ms-Icon--GlobalNavButton ms-fontColor-white ms-font-xl" 
              aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="{{@blog.url}}">
          <span class="ms-font-xxl">{{@blog.title}}</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse ms-font-l">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
        <li><a href="/about">About</a></li>
        <li><a href="{{@blog.url}}/subscribe" class="btn btn-warning subscribe-button">Subscribe</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>